[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
requests = "*"
beautifulsoup4 = "*"
ics = "*"
pytz = "*"
jsonkv = ">=1.1.9"
feedgen = "*"

[requires]
python_version = "3.6"
